#top-menu ul li,
#menu-submenue li,
#footer-menu ul li {
  @apply inline-block;
  @apply mx-5;
}

.menu-social-media-container ul li {
  @apply inline-block;
  @apply mx-3;
}

.menu-social-media-container ul li:last-child {
  @apply mr-0;
}

#top-menu ul li a,
#footer-menu ul li a,
#menu-submenue li a {
  @apply no-underline;
  @apply font-medium;
  @apply text-m;
  letter-spacing: 0.03em;
}

#top-menu ul li a,
#footer-menu ul li {
  @apply uppercase;
}

#top-menu ul li a:hover,
#footer-menu ul li a:hover,
#menu-submenue li a:hover {
  @apply underline;
}

#menu-submenue li a {
  @apply font-medium;
  @apply text-base;
}

.menu-top-menue-container > ul > li {
  @apply border-white border-b-2;
}

.menu-top-menue-container > ul > li > a {
  @apply h6;
  @apply uppercase;
  @apply no-underline;
  @apply py-4;
  @apply block;
  @apply mb-0 !important;
}

.menu-top-menue-container .sub-menu > li {
  @apply bg-blue shadow--bottom-right border-0;
}

.menu-top-menue-container .sub-menu > li > a  {
  @apply no-underline;
  @apply px-6;
  @apply py-3;
  @apply text-black;
  @apply block;
}

.menu-top-menue-container #footer-menu ul li {
  @apply block !important;
}

.current-menu-item {
  @apply underline;
}

#top-menu--mobile ul li a {
  @apply py-4 px-6;
  @apply block;
}

#menu-footer {
  @apply my-3;
}


#top-menu--mobile ul#menu-footer {
  @apply my-4 mx-6;
}
#top-menu--mobile ul#menu-footer li {
  @apply ml-0 mt-0 mb-0 mr-2 p-0;
}

#top-menu--mobile ul#menu-footer li a {
  @apply p-0;
}

#top-menu--mobile ul.sub-menu li a {
  @apply py-3 px-6;
}

#top-menu--mobile ul.sub-menu li {
  @apply shadow--bottom;
  @apply relative;
}

#top-menu--mobile ul.sub-menu li:nth-child(1) {
  z-index: 90;
}

#top-menu--mobile ul.sub-menu li:nth-child(2) {
  z-index: 89;
}

#top-menu--mobile ul.sub-menu li:nth-child(3) {
  z-index: 88;
}

#top-menu--mobile ul.sub-menu li:nth-child(4) {
  z-index: 87;
}

#top-menu--mobile ul.sub-menu li:nth-child(5) {
  z-index: 86;
}
