.wp-block-images--wide {
  @apply w-full;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.wp-block-images--wide__wrapper {
  @apply container grid-6 border-t-2 border-b-2;
}

@screen md {
  .wp-block-images--wide__wrapper {
    @apply grid-16 border-2;
  }
}
