@responsive {
  .grid-6 {
    @apply grid grid-cols-6 gap-x-2;
  }

  .grid-16 {
    @apply grid grid-cols-16 gap-x-2;
  }

  .ratio--2-1 {
    padding-top: calc(1/2*100%);
  }

  .ratio--3-2 {
    padding-top: calc(2/3*100%);
  }

  .ratio--16-9 {
    padding-top: calc(9/16*100%);
  }

  .animated {
    @apply transition-all duration-200 ease-in-out;
  }

  .container {
    @apply mx-2;
  }
}
