.wp-block-button__link {
  @apply text-m leading-snug font-normal;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  @apply animated;
  @apply bg-black text-white;
  &:hover {
    @apply bg-white text-black;
  }
}

.is-style-button--blue {
  & .wp-block-button__link {
    @apply bg-blue text-white;
    &:hover {
      @apply bg-white text-blue;
    }
  }
}

.is-style-button--black {
  & .wp-block-button__link {
    @apply bg-black text-white;
    &:hover {
      @apply bg-white text-black;
    }
  }
}

@screen md {
  .wp-block-button__link {
    @apply text-lg leading-none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
}
