.wp-block-logos__title {
  @apply mb-6;
  @apply block;
}

.wp-block-logos__wrapper {
  @apply flex flex-col items-center gap-4;
  & a {
    @apply flex items-center;
  }
}

.wp-block-logos__item {
  @apply inline-block;
}

.wp-block-logos__item {
  max-height: theme("spacing.7");
  width: unset;
}

@screen md {
  .wp-block-logos__item {
    max-height: theme("spacing.8");
  }

  .wp-block-logos__wrapper {
    @apply inline-flex flex-row flex-wrap;
  }
}
