.wp-block-quote-big {
  @apply relative;
  @apply border-black;
}

.wp-block-quote-big__author {
  @apply is-style-text--running;
  @apply italic;
  @apply text-white;
  @apply m-0;
  @apply p-3;
}

.wp-block-quote-big__quote {
  @apply is-style-quote--large text-white;
  top: calc(-1 * theme("spacing.2"));
  left: calc(-1 * theme("spacing.2"));
  bottom: calc(-1 * theme("spacing.2"));
  right: calc(-1 * theme("spacing.2"));
  margin-block-end: 0;
  @apply relative;
}

.wp-block-quote-big__wrapper {
  @apply border-t-2 border-b-2;
  @apply container;
}

@screen md {
  .wp-block-quote-big__quote {
    top: calc(-1 * theme("spacing.6"));
    left: calc(-1 * theme("spacing.6"));
    bottom: calc(-1 * theme("spacing.6"));
    right: calc(-1 * theme("spacing.6"));
  }
  .wp-block-quote-big__wrapper {
    @apply border-2;
  }
}
